@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

font-family: "Nunito", serif;

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

font-family: "PT Serif", serif;

.about {
  padding: 80px 0;
  color: #ababab;
}

.container {
  padding: 10px 10%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  padding: 20px;
  margin-top: 30px;
  width: 137%;
  border-radius: 20px;
}

.about-col-2 {
  flex-basis: 40%;
}

.sub-title {
  font-size: 18px;
  font-weight: 500;
  font-family: "Nunito", serif;
  line-height: auto;
  color: lightgrey;
}

.sub-title h1 {
  font-family: "PT Serif", serif;
  font-size: 70px;
  color: whitesmoke;
  margin-bottom: 10px;
}

.sub-title h1 span {
  font-family: "PT Serif", serif;
  color: maroon;
}

.tab-titles {
  align-items: flex-start;
  display: flex;
  margin: 20px 0 20px;
}

.tab-links {
  font-size: 17px;
  cursor: pointer;
  position: realtive;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul {
  margin-top: -50px;
  margin-left: 0;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px -42px;
}

.tab-contents ul li span {
  color: #b54769;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

@media only screen and (max-width: 80rem) {
  @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

  font-family: "Nunito", serif;

  @import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

  font-family: "PT Serif", serif;

  .about-col-1 img {
    padding: 20px;
    margin-top: 30px;
    width: 220%;
    border-radius: 20px;
  }

  .sub-title h1 {
    font-family: "PT Serif", serif;
    font-size: 45px;
    color: whitesmoke;
    margin-bottom: 10px;
  }

  .sub-title h1 span {
    font-family: "PT Serif", serif;
    color: maroon;
  }

  .user {
    padding: 30px;
  }
}
