@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.contact {
  padding: 50px 0;
}
.containerrrr {
  padding: 10px 10%;
}

.contact-left {
  flex-basis: 35%;
}

.contact-left h1 {
  font-family: "PT Serif", serif;
  font-size: 70px;
  color: whitesmoke;
}

.contact-left h1 span {
  color: maroon;
  font-family: "PT Serif", serif !important;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: whitesmoke;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: whitesmoke;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: maroon;
  transform: translateY(-5px);
}

.btn {
  display: block;
  margin: 50 px auto;
  width: fit-content;
  border: 1px solid maroon;
  background-color: maroon;
  padding: 14px 60px;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.5s;
}

.btn:hover {
  background: red;
}

.contact-right form {
  width: 100%;
  padding-top: 50px;
}

.fa-solid {
  font-size: 25px !important;
  color: white !important;
  visibility: visible !important;
  display: inline-block !important;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.fa-solid {
  font-size: 20px;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 30px;
  background: #262626;
  font-weight: 300;
  margin-top: 100px;
}

@media only screen and (max-width: 80rem) {
  .contact {
    margin-left: 0px;
    padding-right: 0;
    justify-content: center;
  }

  .containerrrr {
    margin-left: 40px;
    padding-right: 10px;
  }

  .contact-left h1 {
    font-size: 45px;
  }

  .fa-solid {
    font-size: 5px;
  }

  .social-icons {
    padding-left: 85px;
  }
  .copyright {
    width: 100%;
    text-align: center;
    background: #262626;
    font-weight: 300;
  }

  form input,
  form textarea {
    width: 120%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
  }
}
